* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-color: rgb(33, 33, 33);
  text-align: center;
  padding: 50px;
  font-family: verdana;
  color: #fff;
}

header a {
  color: #fff;
  position: absolute;
  right: 10px;
  text-decoration: none;
}
header a:hover {
  color: #f00;
}
main {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main div {
  border: 1px solid #eee;
  width: 25%;
  margin: 20px;
  padding: 10px;
}
h2 {
  font-family: arial;
  font-size: 15pt;
}
h3 {
  font-family: verdana;
  font-size: 10pt;
}
section {
  width: 40%;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px silver;
  margin: auto;
  text-align: center;
  margin-top: -1000px;
  background-color: #fff;
  transition: ease 0.5s;
}
input {
  padding: 10px;
  width: 100%;
  margin: 5px;
  display: block;
}
button {
  padding: 10px;
  border: 1px solid #eee;
}
