* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#filme {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#filme div {
  width: 20%;
  margin: 15px;
  box-shadow: 0px 0px 5px silver;
  border-radius: 10px;
  transition: ease 1.5s;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#filme div img {
  width: 100%;
  margin-top: -30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.voto {
  background-color: black;
  padding: 10px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 10pt;
  margin-top: -20px;
  margin-left: 10px;
  /*subir o elemento acima dos demais*/
  z-index: 200;
  position: relative;
  border: 2px solid greenyellow;
  box-shadow: 0px 0px 5px black;
}
h2 {
  margin: 10px;
  font-family: Verdana;
  font-size: 9pt;
}
.data {
  text-align: center;
  font-family: verdana;
  font-size: 8pt;
  margin: 10px;
}
#filme div:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  z-index: 10000;
}
h1 {
  font-family: arial;
  text-align: center;
  margin: 30px;
}
